@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

.blur {
  height: 100vh;
  background: rgba(64, 64, 64, 0.29);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
}

*{color: white;}
h1 {
  font-weight: 100;
}

h2{
  font-size: smaller;
  font-weight: 300;
  text-transform: uppercase;
}

.home{height: 60vh;

  }
 
  .searchbar {
    background-color: #76767661;
    color: white;
    font-size: small;
    border-radius: 30px;
    border: none;
    height: 1rem;
    padding: 2rem;
    width: 17rem;
    margin: 0 auto;
    text-align: center;
  }

  .searchbar:focus{
    background-color: #76767661;
    color: white;
    box-shadow: none;
    text-align: center;
  }

  .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(255, 255, 255, 0.535);
    opacity: 1; /* Firefox */
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.card-title{
  color: white;
  font-size: xxx-large;
  font-weight: 200;
}

.card{
  background-color: #ffffff2e;
  border: none;
  border-radius: 30px;
  text-align: center;
  max-height: 23rem;
  align-items: center;
}

.card-img-top{
  width: 6rem;
}

p{
  font-size: x-small;
  font-weight: 300;
  text-transform: uppercase;
}

.card-text{
  margin: 0.2rem ;
}

.degrees{
  font-size: 3rem;
  font-weight: 200;
}